<div class="course-progress" style="border-radius: 25px">
  <h3>{{course.name}}</h3>
  <div class="progress" style="margin-left: 20%; margin-right: 20%; margin-top: 20px; border-radius: 25px">
    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<div class="course-container">
  <div *ngFor="let module of modules">
    <app-module-on-course [name]="module.name"
                            [id]="module.id"
                            [author]="module.author"></app-module-on-course>
  </div>
</div>
