<div class="about-section"style="border-radius:25px">
    <h1>9-BIT</h1>
    <h2>Наша платформа обладает большим функционалом и понятным интерфейсом</h2>
    <h5>Благодаря нашим курсам вы можете изучать, развиваться и прекрасно проводить время! </h5>
  </div>
  
  <h2 style="text-align:center">О нас</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="" >
        <div class="container">
          <h2>Наш ВК</h2>
          <p class="title">Сообщество вконтакте</p>
          <h4>Новости и информация о курсах и олимипадах</h4>
          <p></p>
          <a href="https://vk.com/samararegcentr"><button class="button bg-success">Перейти</button></a>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <img src="" alt="" >
          <div class="container">
            <h2>Наш Инстаграмм</h2>
            <p class="title">Страничка инстаграмм</p>
            <h4>Хроники центра , фотографии и мероприятия</h4>
            <p></p>
            <a href="https://www.instagram.com/samararegcentr/"><button class="button bg-success">Перейти</button></a>
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="" alt="" >
          <div class="container">
            <h2>Вега</h2>
            <p class="title">Смена ВЕГА</p>
            <h4>Актуальные программы и смены</h4>
            <p></p>
            <a href="https://codsamara.ru/centr-vega/obshhaja-informacija/"><button class="button bg-success">Перейти</button></a>
          </div>
        </div>
      </div>