<header>
<!-- Background image -->
<div class="gg"
id="intro-example"
class="p-5 text-center bg-image"
style="width: 100%; background-color: linear-gradient(90deg, rgba(67,180,58,1) 20%, rgba(45,46,201,1) 50%, rgba(86,176,72,1) 88%); height: auto;"
>
<div class="mask" style="background-color: rgba(95, 233, 79, 0.7); max-width: 1200px; width: 100%">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Осваивайте курсы</h1>
      <h5 class="mb-4">Площадка Самарского Регионального центра<br> для проходения онлайн курсов</h5>
      <a
        class="btn btn-outline-light btn-lg m-2"
        href="courses"
        target="_blank"
        role="button"
      >Смотреть курсы</a
      >
    </div>
  </div>
</div>
</div>
<!-- Background image -->
</header>
<body>
  <div class="card">
  <div class="bebra">
    <img src="/assets/logo.png" alt="" class="cod">
    <div class="textp" style="margin-top: 30px">
      <h5 style="text-align:center;font-size: larger;">Почему наши курсы лучше?</h5>
      <ul>
        <li>Площадка разработана при поддержке Самарского регионального центра для одаренных детей.</li>
        <li>Курсы разработаны специалистами  и кандидатами наук.</li>
        <li>Каждый может научиться чему-то новому.</li>
        <li>Простой и понятный интерфейс.</li>
        <li>Большое количество тем для курсов</li>
      </ul>
    </div>
  </div>
  </div>

  <div class="card">
    <div class="bebra">
      <img src="https://sun7.userapi.com/sun7-16/s/v1/ig2/eIHUqCfn3ZZXQxewx82VbWc5-gHg_j2DnFEkAkOixlvxGfPykUgCiU2J3PHzq_e13C8o2F8O_nBXZVErNMcS82cu.jpg?size=2560x1707&quality=95&type=album" alt="" class="cod2">
      <div class="textp2" style="margin-top: 100px">
        <h3 style="text-align:center; font-size: larger;">Сильнейшие преподователи и авторы курсов</h3>
        <ul>
          <h5>Сухаренко Даниил Владимирович</h5>
          <li>Гений роботехники и информационных технологий</li>
          <li>Подготовка к соревнованиям и конкурсам</li>
          <li>Один из сильнейших преподователей информатики Самары</li>
        </ul>
      </div>
    </div>
    </div>

    <div class="card">
      <div class="bebra">
        <img src="/assets/logo.png" alt="" class="cod2">
        <div class="textp2" style="margin-top: 100px">
          <h5 style="text-align:center; font-size: larger;">Большие возможности</h5>
          <ul>
            <h5>Развивайтесь с курсами от СРЦОД</h5>
            <li>Выберите тематику курса</li>
            <li>Решайте задания и получайте результат решения</li>
            <h4>Удачи!</h4>
          </ul>
        </div>
      </div>
      </div>
</body>


<div class="card">
  <div class="card-header">
      Основная информация
  </div>
  <div class="card-body">
      <h4 class="card-title">Контакный телефон:7 (846) 201-10-57</h4>
      <p class="card-text">rcod_su@samara.edu.ru  г. Самара, ул. Черемшанская, 70</p>
  </div>
  <div class="card-footer text-muted">
      © 2022 Самара:
      <a class="text-dark" href="https://codsamara.ru\">codsamara</a>
  </div>
</div>
